// #site-footer {
// 	font-size: rem-calc(14);
// 	padding: 1rem 0;
// }

.footer {
    .grid-container {
        @include breakpoint(medium) {
            width: 90%;
        }
        @include breakpoint(large) {
            width: 80%;
        }
    }
    
    .cell-1 {
        justify-content: center;
        @include breakpoint(medium) {
            justify-content: flex-start;
        }
    }
    .cell-2 {
        justify-content: center;
        @include breakpoint(medium) {
            justify-content: center;
        }
    }
    .cell-3 {
        justify-content: center;
        @include breakpoint(medium) {
            justify-content: flex-end;
        }
    }
    .cell {
   
       display: flex;
       flex: 0 0 auto;
       @media(max-width: 639px) {
        margin-bottom: 2rem;
        div {
            text-align: center;
            a {
               justify-content: center;
            }
        }
       }
    }
    p {
        margin-bottom: .5rem;
    }

    padding: 1.6rem 0 0 0;
    h3 {
        font-size: 16px;
        font-weight: bold;
    }
    background: $blue;
    color: #fff;
    a {
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #fff;
        &:hover {
            color: $pink;
            svg {
              
                path {
                    fill: $pink;
                }
            }
        }
        svg {
            width: 14px;
            height: 14px;
            margin-right: 5px;
            g {
                fill: #fff;
            }
            path {
                transition: all .3s ease-in-out;
            }

        }
    }
}
        .footer-small {
            font-size: 10px;
            opacity: 0.5;
            padding: 1rem 0 0.5rem 0;
            .cell {
                margin-bottom: 0;
            }
        }