.header {
	@include breakpoint(medium) {
		height: 130px;
	}
	background: transparent;
	padding-top: 1rem;
	svg {
		margin: 0 5px;
		&:hover {
			path {
				fill: $pink;
			}
		}
		path {
			transition: all .3s ease-in-out;
			fill: rgba(57, 63, 147, 0.36);
		}
	}
	.links-box-box {
		display: none;
		@include breakpoint(medium) {
			display: flex;
			justify-content: flex-end;
		}
	}
}

.first-main {
	svg {
		path {
			fill: rgba(255, 255, 255, 0.36);
		}
	}
}

.logo-box {
	width: 100px;
}