.main-menu {
 
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 639px) {
       flex-direction: column;
    }
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    
 
    li {
        font-size: 14px;
        @media screen and (max-width: 639px) {
            text-align: center;
            font-size: 14px;
            margin-bottom: 17px;
            &:hover{
                a{
                    color: $pink;
                }
                ul>a {
                    color: #fff;
                }
               cursor: pointer;
            }
          }

        &:hover > ul {
            display: block;
        }
        a {
        
         
            color: $blue;
        
            transition: .3s ease-in-out;
            &:hover {
                color: $pink;
            }
          
            }
            ul{
                display: none;
                margin-left: 0;
                list-style: none;
                li {
                    margin-left: 0;
                }
                a {
                    margin-left:0;
                }
            }

            .sub-menu {
                margin: 0;
                display: none;
                opacity: 1;
                @media(min-width: 640px){
                    background: #fff;
                    position: absolute;
                    white-space: nowrap;
                    display: none;
                }
                @media(max-width: 639px){
                    opacity: 1 !important;
                }
                li {
                    padding: 0;
                    @media(min-width: 640px){
                        display: block;
                        box-shadow: 0px 3px 20px rgba(41, 41, 41, 0.114);;
                        border: none;

                    }
                    a {
                        padding-left: 2rem;
                        line-height: 1;
                        @media(min-width: 640px){
                            padding: .7rem 1rem;
                            display: block;
                        }
                    }
                }
            }	
        }

}


.menu-wrap {
    padding-left: 50px;
    z-index: 101;
	display: flex;
    flex-direction: column;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	width: 85% !important;
	max-width: 300px;
    background:#fff;
    @media(max-width: 639px){ 
       box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0.11);
       padding: 0;
    }
	font-size: 14px;
	transform: translateX(100%);
	transition: transform .4s;
	text-transform: uppercase;
	@media(min-width: 640px){ 
		overflow-y: visible;
		position: static;
		height: auto !important;
		width: auto !important;
		max-width: none;
		background: none;
		transform: none;
		display: block;
	}
	.admin-bar & {
		top: 46px;
		height: calc(100vh - 46px);
		@media(min-width:783px){
			height: calc(100vh - 32px);
			top: 32px;
		}
	}

	&.active {
		transform: translateX(0);
	}

}



#hamburger {
	margin: 2.9rem 0 0 -2.5rem;
	width: 1.5rem;
	height: 1rem;
	position: relative;
	transform: translateX(-100%);
	z-index: 5;
	transition: all .4s, background .2s;
	display: block;
	color: $pink;
	&:hover {
		color: $pink;
	}
	&:before, &:after, span {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: currentColor;
		transform-origin: 50% 50%;
	}
	&:before {
		position: absolute;
		top: 0;
	}
	span {
		position: absolute;
		top: 50%;
		margin-top: -1px;
	}
	&:after {
		position: absolute;
		bottom: 0;
	}
	@media(min-width: 640px){
		display: none;
	}
	
	.active & {
		transform: translateX(0);
		margin: 2.9rem 0 .3rem 1rem !important;
		// color: #fff !important;
		span {
			opacity: 0;
		}
		&:before, &:after {
			position: absolute;
			top: calc(50% - 1px);
			width: 1.5rem;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	.menu {
		overflow-y: auto;
		@media(min-width: 640px){
			overflow: visible;
		}
	}

	
}




.first-main .main-menu li a {

	@media screen and (min-width: 640px) {
		color: #fff;
	  }

 &:hover {
	 color: $pink;
 }
}