.owl-about {
	.owl-nav {
		&:hover {
			background-color: transparent !important;
		}
	}
	.owl-prev, .owl-next {
	
		@include breakpoint(medium) {
			margin: 50px 50px !important;
		}
		&:hover {
			background-color: transparent !important;
		}
		&:active {
			background-color: transparent !important;
		}
	}

	.owl-item {
		position: relative;
	}

	.owl-about-blue, .owl-about-white {
		height: 100%;

	.back-owl {
		position: absolute;
		background-image: url(../assets/img/„.png);
		height: 150px;
		width: 201px;
		top: -3%;
		left: -2%;
	}
	padding: 3rem  2rem 1.5rem 2rem;
	@include breakpoint(medium) {
		padding: 6rem  4rem 3rem 4rem;
	}
		
		p {
			color: rgba(56, 56, 56, 0.66);
			font-weight: 500;
		}
		em {
			font-style: normal;
			font-size: 20px;
			color: $blue;
			font-weight: bold;
		
		}
		p:last-child {
			text-align: right;
			padding-top: 2rem;
		}
	}
	.owl-about-blue {
		background-color: $blue;
		p {
			color: #fff;
			em {
				color: $pink;
				
			}
		}
	}
}

.owl-stage {
	display: flex;
}