


//main-first
$down-photo: 68px;
$header-height: 146px;

.image {
    @media(max-width: 639px) {
        height: 300px !important;
    }
}

.mouse-down {
    opacity: 0;
    @include breakpoint(medium) {
        opacity: 1;
    }
    img {
        cursor: pointer;
    }
}

.first-main {
   
   

    margin-bottom: calc(3rem + 68px);
    @media screen and (min-width: 640px) {
        margin-bottom: calc(5rem + 68px);
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: calc(8rem + 68px);
    }
 
    background: $blue;
    .big-title {
        color: #fff;
        font-size: 30px;
        margin-top: 3rem;
        @include breakpoint(medium) {
            font-size: 40px;
            margin-top: 0;
        }
        @include breakpoint(large) {
            font-size: 56px;
        }
   
        em {
            color: #F6AEA2;
        }
    }
        p {
            color: #fff;
            
        }
        .text-first-main {
            // margin-top: $down-photo;
          
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include breakpoint(large) {
                padding-right: 2rem;
            }
        }
        .main-first-box {
            background-image: url("../assets/img/Group\ 665.jpg");
            position: relative;
            top: $down-photo;
            height: 300px;
            @include breakpoint(medium) {
                min-height: calc(100vh - 130px);
            }
            // @include breakpoint(large) {
            //     height: calc(100vh - 146px);
            // }
        }
      

}
.mouse-down {
    bottom: 6%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

.padding-left {
    @include breakpoint(medium) {
    
        padding-left: 10%;
        }
        @include breakpoint(large) {
      
            padding-left: 20%;
        }
}

.padding-right {
    @include breakpoint(medium) {
    
        padding-right: 10%;
        }
        @include breakpoint(large) {
      
            padding-right: 20%;
        }
}

.who-we-are-main {
    .image-one {
        @extend .image;
        background-image: url("../assets/img/Group\ 669.jpg");
    }
}
        .who-we-are-text-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 2rem;
            @include breakpoint(medium) {
                padding-bottom: 1rem;
                padding-top: 1rem;
            }
            @include breakpoint(large) {
            height: calc(100vh - 210px);
          
            }
        }

.our-actions {
    background: transparent linear-gradient(180deg, #FEF6F500 0%, #FEF6F5 100%) 0% 0% no-repeat padding-box;
    .cell {
        @include breakpoint(medium) {
            padding: 2rem;
        }
    }
}

.our-ofert {
    background: transparent linear-gradient(0deg, #FEF6F500 0%, #FEF6F5 100%) 0% 0% no-repeat padding-box;
    .cell {
        box-shadow: 0px 0px 25px #D0D0D05D;
        padding: 3rem;
        @include breakpoint(medium) {
            padding: 1rem;
        }
        @include breakpoint(large) {
            padding: 3rem;
        }
        // .title-in-cell {
        //     min-height: 115px;
        // }
        .see-more {
            justify-content: center;
        }
        // p {
        //     height: 100px;
        //     overflow: hidden;
        // }
    }
}

.back-1 {
    z-index: -1;
    background-image: url("../assets/img/Group\ 568.png");
    width: 100%;
    height: 236%;
    background-size: cover;
    top: 28%;
    background-position-x: 56%;
}
.back-2 {
    z-index: -1;
    background-image: url("../assets/img/Group 582.png");
    width: 107%;
    height: 130%;
    background-size: cover;
    top: -5%;
    background-position-x: 78%;
    background-position-y: 57%;
}
.back-3 {
    z-index: -1;
    background-image: url("../assets/img/Group 582.png");
    width: 197%;
    height: 156%;
    background-size: cover;
    top: -26%;
    left: -26%;
    background-position-x: 70%;
    background-position-y: 57%;
}
.back-4 {
    z-index: 1;
    background-image: url("../assets/img/Group 613.png");
    width: 100%;
    height: 100%;
    background-size: contain;
}
.back-5 {
    z-index: 1;
    background-image: url("../assets/img/Group 613.png");
    width: 124%;
    height: 133%;
    top: 8%;
    left: 20%;
    background-size: contain;
}


////////////////////////////////about
.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include breakpoint(medium) {
        height: 200px
    }
    @include breakpoint(large) {
        height: 100%
    }
}
.img-fit-box {
    margin-bottom: 20px;
    @include breakpoint(medium) {
        margin-bottom: 0;
    }
    @include breakpoint(large) {
        margin-bottom: 20px;
    }
}
.img-fit-1 {
    padding-right: 10px;
    @include breakpoint(medium) {
        padding-right: 0;
        margin-bottom: 20px;
    }
    @include breakpoint(large) {
        padding-right: 10px;
        margin-bottom: 0;
    }
}
.img-fit-2 {
    padding-left: 10px;
    @include breakpoint(medium) {
        padding-left: 0;
        margin-bottom: 20px;
    }
    @include breakpoint(large) {
        padding-left: 10px;
    }
}

.who-we-are-about {
    .image-two {
        @extend .image;
        background-image: url("../assets/img/white-volvo.jpg");
    }
    .mouse-down {
        @media(max-width: 1023px) {
            display: none;
        }
    }

}

.experience-about {
    .image-three {
        @extend .image;
        background-image: url("../assets/img/Group\ 591.jpg");
    }
    .big-title {
        @media screen and (min-width: 980px) {
            font-size: 35px
        }
    }

}

.meet-us {
    .grid-x {
        margin-top: 100px;
    }
    .team-box {
        margin-top: -50px;
        @media(max-width: 639px) {
           margin-left: 15%;
           margin-right: 15%;
        }
    }
    img {
        width: 80%;
        border-radius: 100%;
    }
    .cell {
        margin-bottom: 70px;
        @include breakpoint(medium) {
            margin-bottom: 0;
        }
        box-shadow: 0px 3px 20px #FEF6F5;

        @include breakpoint(large) {
            padding: 0 3rem;

        }
    }
    .title-in-cell{
        padding: 1rem 0 0 0;
    }
    p {
        opacity: 0.7;
    }
}

//////////////////////single-blog

.first-single-blog {
    .date {
        font-size: 12px;
        color: #707070;
    }
    .image-four {
        @extend .image;
        height: 300px;
        @include breakpoint(medium) {
            height: 350px;
        }
        @include breakpoint(large) {
            height: auto;
        }
     
        background-image: url("../assets/img/buildings.jpg");
    }
    p {
       color: rgba(61, 61, 61, 0.65)
        strong {
            color: #000;
        }
    }
    .who-we-are-text-main {
       padding-top: 2rem;
       padding-bottom: 2rem;
       @include breakpoint(medium) {
           padding-right: 10%

       }
    }
}

.single-blog {
    .image-blog, p, .big-title-smaller {
        margin-bottom: 2rem;
        @include breakpoint(medium) {
            margin-bottom: 3rem;
        }
        @include breakpoint(large) {
            margin-bottom: 4rem;
        }
    }
    padding-bottom: 2rem;
    @include breakpoint(medium) {
    padding-bottom: 0;    
    }
    p {
        opacity: 0.65;
    }
    .image-five {
        @extend .image;
        background-image: url("../assets/img/Intersection\ 28.jpg");
        height: 480px;
   
    
    }
    @media (min-width: 1200px) {
        .stretch-left {
        margin-left: calc( ( 100vw - 1200px) / 2 + 0.9375rem);
        
        }

    }
    .image-six-a, .image-six-b {
        @extend .image;
        background-image: url("../assets/img/0cc42d484f3979f92b279824b1f0a998.jpg");
        height: 400px;
 
    }

    .image-six-b {
        @media(max-width: 639px) {
            display: none;
        }
    }
    .photo-seven {
        @extend .image;
        background-image: url("../assets/img/Intersection\ 18.jpg");
        height: 500px;
    
 
    }
}


///////////////////////////////////kontakt

.contact {
    .kontakt-text-second {
        text-align: center;
        @include breakpoint(medium) {
            text-align: left;
        }
     }
    a {
        color: rgba(57, 63, 147, 0.77);
        &:hover {
            // color: rgba(57, 63, 147, 1);
            opacity: 1;
            color: $pink;
        }
    }
    h3 {
        color: $pink;
        font-size: 24px;
        font-family: 'Butler', sans-serif;
        font-weight: bold;
    }

    h4 {
        font-size: 20px;
        color: #393F93;
        margin-top: 22px;
        margin-bottom: 0;
    }

    h5 {
        font-size: 13px;
        color: #393F93;
        margin-bottom: 30px;
    }

    svg {
        margin-right: 10px;
        width: 18px;
        height: 18px;
        path {
            fill: $pink;
        }
       
}
    .kontakt-title-box {
       align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        @include breakpoint(medium) {
            padding: 1rem;
            // justify-content: flex-start;
            align-items: flex-start;
        }
    }
    .big-title {
        text-align: center;
        @include breakpoint(large) {

            font-size: 45px;
        }
        @include breakpoint(medium) {
            text-align: left;
        }
        
    }
    .kontakt-text {
        .office {
            padding-bottom: 3rem;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     text-align: center;
        @include breakpoint(medium) {
         text-align: left;
        }
        background-color: $blue;
        padding: 5%;
    
        a {
            justify-content: center;
            @include breakpoint(medium) {
                justify-content: left;
            }
            display: flex;
            align-items: center;
            color: #fff;
            &:hover {
                color: $pink;
            }
        }
  
}
}


//////////////////////oferta

.image-four-b {
    @extend .image-four;
    background-image: url("../assets/img/sail.jpg") !important;
}
.title-with-p {
    padding-bottom: 4rem;
    @include breakpoint(medium) {
        margin: 0 10%
    }
    @include breakpoint(large) {
        margin: 0 20%;
    }

    p {
        color: $blue;
        font-size: 20px;
    }
    .big-title-smaller {
        margin-bottom: 0.5rem;
    }
}

.arrow {
    bottom: 10px;
    right: 5px;
    display: flex;
}
.ofert-cells {
    // background: transparent linear-gradient(0deg, #FEF6F500 0%, #FEF6F5 100%) 0% 0% no-repeat padding-box;
    .cells-box {
        background: transparent linear-gradient(0deg, #FEF6F500 0%, #FEF6F5 100%) 0% 0% no-repeat padding-box;

    }
 
    .small-cell {
        height: 200px;
        @include breakpoint(medium) {
            height: 210px;
        }
        @include breakpoint(large) {
            height: 300px;
        }
        margin-bottom: 15px;
        @include breakpoint(medium) {
            margin-bottom: 30px;
        }
        padding: 1rem;
        font-size: 12px;
        @include breakpoint(medium) {
            font-size: 13px;
            padding: 2rem;
        }
        @include breakpoint(large) {
            font-size: 19px;
        }
    }
    .cell-1 {
        @media(max-width: 400px) {
            height: 270px;
        }
        z-index: 100;
        background-color: $pink;
        color: $blue;
        font-size: 26px;
        @include breakpoint(medium) {
            font-size: 33px;
        }
        @include breakpoint(large) {
            font-size: 45px;
        }
        font-weight: 300;
    }
    .cell-2{
        background-color: #fff;
        box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.365);
        color: $blue;
        @include breakpoint(medium) {
            box-shadow: none;
            background-color: $blue;
            color: #fff;
        }
     
    }
    .cell-3 {
        background-color: $blue;
        color: #fff;
        @include breakpoint(medium) {
            background-color: #fff;
            box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.365);
            color: $blue;
        }
    }
    .cell-4 {
        background-color: $blue;
        color: #fff;
     
    }
    .cell-5 {
        background-color: $pink;
        color: $blue;
        font-size: 18px;
        @include breakpoint(medium) {
            font-size: 22px;
        }
        @include breakpoint(large) {
            font-size: 30px;
        }
        font-weight: 300;
    }
    .show-after-hover {
        transition: .3s ease-in-out;
        opacity: 0;
        display: none;
        ul>li {
            font-size: 10px;
            margin-bottom: 0;
            @media(min-width: 980px) {
                margin-bottom: 0.5rem;
            }
            @media(min-width: 1024px) {
               font-size:13px;
            }
            color: $blue;
            font-weight: 600;
        }
    }
}
.before-hover {
    transition: .3s ease-in-out;
    opacity: 1;
}

@keyframes example-opposite {
    from {display: block; opacity:1;}
    to {display: none; opacity:0;}
  }

.cell-1 {
    &:hover {
        cursor: pointer;
        display: flex;
        align-items: center;
        .show-after-hover {
            display: block;
            opacity: 1;
            animation-name: example;
            animation-duration: .3s;
            animation-timing-function: ease-in-out;
        }
        .before-hover {
            display: none;
            opacity: 0;
        }
    }
}


///////////////anim-plan

.anim-plan {
    .buttons {
        padding: 0.7rem 0.5rem;
        background: #494E97;
        @include breakpoint(medium){
            padding: 0.7rem 2rem;

        }
        display: flex;
        justify-content: space-between;
        // box-shadow: 0px 3px 25px #D0D0D05D;
        box-shadow: 0px 3px 25px rgba(73, 78, 151, 0.541);
        .but {
            font-size: 16px;
            @include breakpoint(medium) {
                font-size: 25px;
            }
            font-weight: 600;
            color: #fff;
            border-bottom: 2px solid transparent;
            transition: .3s ease-in-out;
            &:hover {
                color: $pink;
                border-bottom: 2px solid $pink;
                cursor: pointer;
            }
        }
    }

    .anim-text-box {
        min-height: 450px;
        box-shadow: 0px 3px 25px #D0D0D05D;
        padding: 5rem 2rem;
    }

  

    @keyframes example {
        from {display: none; opacity:0;}
        to {display: block; opacity:1;}
      }

    

    .anim-text {
        animation-name: example;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        display: none;
        p , ul>li{
            font-size: 17px;
            @include breakpoint(medium) {
                font-size: 25px;
            }
            color: #3D3D3D;

        }
        ul {
            padding-left: 20px;
        }
    }
    .anim-text-1 {
        display: block;
    }
    .p-more {
        display: flex;
        align-items: center;
        transition: .3s ease-in-out;
        svg {
            margin-bottom: 1rem;
            margin-left: 20px;
            height: 20px;
            width: 20px;
            line {
                stroke: #3D3D3D;
            }
        }
        &:hover {
            cursor: pointer;
            p {
                color: $blue;
            }
            svg {
                line {
                stroke: $blue;
                }
            }
        }
    }
    .p-more-text {
        padding-left: 20px;
        ul>li {
            font-size: 14px;
            @include breakpoint(medium) {
                font-size: 20px;
            }
            color: #3D3D3D;
        }
    }
}

.p-more.p-more-color {
    p {
        color: $blue;
    }
    svg {
        line {
        stroke: $blue;
        }
    }
}

.pink-underline {
    color: $pink !important;
    border-bottom: 2px solid $pink !important;
}


///////////////////animated-rect

.animated-rect {
 margin-bottom: 4rem;

    .animated-rect-1, .animated-rect-2 {
  
        &:hover {
            cursor: pointer;
          
        }
        p {
            font-size: 25px;
            @include breakpoint(medium) {
                font-size: 39px;
            }
            font-weight: 600;

        }
        padding: .5rem;
        @include breakpoint(medium) {
            padding: 2rem;
        }
        height: 360px;
        position: relative;
    }
    .animated-rect-1 {
        background: $blue;
        svg {
            line {
                stroke: #fff;
            }
        }
        p {
            // transition: 1s;
            color: #fff;

        }
    }
    .animated-rect-2 {
        background-color: #FEF6F5;
        box-shadow: 0px 3px 25px #D0D0D05D;
        P {
            // transition: 1s;
            color: $blue;
        }
    }
}

.back-rect-1 {
    background-image:  url("../assets/img/truck.png");
    background-size: contain;
    bottom: 2%;
    left: -14%;
    width: 100%;
    height: 83%;
}
.back-rect-2 {
    background-image:  url("../assets/img/support.png");
    background-size: contain;
    bottom: 2%;
    left: 0;
    width: 100%;
    height: 83%;
}

@keyframes rect-anim {
    // from {display: none; opacity:0;}
    // to {display: block; opacity:1;}
 
        0%   {display: none; opacity:0;}
        99% {display: block; opacity:0;}
        100% {display:block; opacity:1}
 
  }

.rect-text {
    animation-name: rect-anim;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;

    display: none;
    ul {
        li {
            color: #fff;
            font-size: 10px;
            @media(min-width: 400px) {
                font-size: 12px;
            }
            @media(min-width: 960px) {
                font-size: 15px;
            }
        }
    }
}

.rec-text-2 {
    ul {
        li {
            color: $blue;
        }
    }
}

.rect {
    transition: .5s ease-in-out;
}

.p-font-smaller {
    .anim-rect {
        p {
            font-size: 20px;
            @media(min-width: 960px) {
                font-size: 30px;
            }
    
        }

    }
}

.blog {
    .cell {
        margin-bottom: 2rem;
    }
}