* {
	outline: none;
	    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}



.height-div {
    height:1rem;
    @media screen and (min-width: 640px) {
        height:2rem;
    }
}


.transform-180 {
    transform: rotate(180deg);
}


a {
	transition: all .3s ease-in-out;
}

.section {
    padding-bottom: 3rem;
    @media screen and (min-width: 640px) {
        padding-bottom: 5rem;
    }
    // @media screen and (min-width: 1200px) {
    //     padding-bottom: 8rem;
    // }
}

.center {
    display: flex;
    align-items: center
}


.height-100 {
    @media screen and (min-width: 1360px){
        min-height: 100vh;
    }
}

.order-1 {
    @media screen and (max-width: 639px) {
        order: -1;
    }
}

.myButton {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    @media screen and (min-width: 980px){
        font-size: 13px;
    }
    @media screen and (min-width: 1360px){
        font-size: 15px;
    }
    padding: 0.7rem 0.9rem;
    border-radius: 100px;
    transition: .3s ease-in-out;
    // margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}

.form-button {
    @extend .myButton;
    color: #fff;
    background: transparent;
    border: none;
    font-weight: 400;
}


.blue-button {
    @extend .myButton;
    background-color:#2F88B5;
    color: #fff;
    border: 1px solid #2F88B5;
    &:hover {
       background-color: #fff;
       color: #2F88B5;
    }
}

.position-relative {
    position: relative;
}
.position-absolute {
    position:absolute;
}

.full-width {
    width: 100%;
}

.m-left-right-5 {
    @include breakpoint(large) {
        margin-left: 50px;
        margin-right: 50px;

    }
}

.grid-container-left {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: 40em){
        padding-left: 0.9375rem;
        padding-right: 0;
    }
    // // display: flex;
    // // flex-direction: column;
    // // align-items: flex-end;
    // max-width: 50rem;
}
.grid-container-right {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: 40em){
        padding-right: 0.9375rem;
        padding-left: 0;
    }
    // // display: flex;
    // // flex-direction: column;
    // // align-items: flex-end;
    // max-width: 50rem;
}

@media(min-width: 1200px) {
    .stretch-right {
        padding-right: calc( ( 100vw - 1200px) / 2 + 0.9375rem );
        }
    .stretch-left {
        padding-left: calc( ( 100vw - 1200px) / 2 + 0.9375rem );
    }

}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.medium-margin-right-2 {
    @include breakpoint(medium) {
        padding-right: 2rem;
    }
}













