@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap&subset=latin-ext');

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Bold.woff2') format('woff2'),
        url('ButlerStencil-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Medium.woff2') format('woff2'),
        url('ButlerStencil-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler.woff2') format('woff2'),
        url('Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$blue-B5: #2F88B5;

$blue: #494E97;
$pink: #F6AEA2;

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px;
    color: #383838;
}

.big-title {
    font-size: 30px;
    margin-bottom: 2rem;
    @media screen and (min-width: 640px) {
        margin-bottom: 3rem;
     }
    font-family: 'Butler', sans-serif;
 
    font-weight: 400;
    color: $blue;
    @media screen and (min-width: 640px) {
        font-size: 35px;
     }
     @media screen and (min-width: 980px) {
         font-size: 48px
     }
    em {
        font-style: normal;
        font-weight: 400;
        color: $pink;
    }
}

.big-title-smaller {
    @extend .big-title;
    font-family: 'Butler', sans-serif;
    font-weight: 400;
    font-size: 25px;
    @media screen and (min-width: 640px) {
        font-size: 30px;
     }
     @media screen and (min-width: 980px) {
         font-size: 35px
     }

}

.title-in-cell {
    font-size: 18px;
    font-weight: bold;
    color: $blue;
    padding: 2rem 0;
    text-transform: capitalize;
}

.pink-small-title {
    color: $pink;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.see-more {
    color: $pink;
    font: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &:hover {
        color: $blue;
    }
    img {
        padding-left: 0.5rem;
    }
}